<h1>Edit User</h1>

<%= form_for @user do |u| %>
  <div class="form-group">
      <label>User name</label>
      <%= u.text_field :name %>
      <label>User password</label>
      <%= u.text_field :password %>
  </div>
<% end %>

