<h1>Admin page users list:</h1>

<%= @users.each do |user| %>
<h2> User <%=user.id%> :</h2>
<h3> <%=user.name%> </h3>
<p>

<a href="<%= user_path(user.id) %>" class="btn btn-primary">
show
</a>

</p>

<% end %>
