<h1>User : <%= @user.name %></h1>
<p>Password : <%= @user.password %></p>

<p>
<a href="<%= users_path %>" class="btn btn-outline-primary">edit</a>
</p>

<p>
<a href="<%= users_path %>" class="btn btn-outline-primary">back</a>
</p>

